General Admission Requirements

When you are ready to assemble your admission materials, visit the Preparing Your Packet (https://msais.eng.ufl.edu/preparing-your-packet/) page.

- B.S. degree in a computing-related engineering degree 1 .
- Cumulative B.S. GPA of 3.0 or higher 2 .
- Curriculum Vitae (CV) 3 .
- Three (3) letters of recommendation 4 .
- Statement of purpose (SOP).
- English proficiency test, if applicable.
- GRE not required.

Admission Deadlines

Visit the page Preparing Your Packet (https://msais.eng.ufl.edu/preparing-your-packet/) for additional information on the admission rubric and guidelines.
The Admissions Committee reviews packets on a rolling basis for packets including all required materials (must include all items listed under “General Admission Requirements”). Your application packet will be marked incomplete until all items have been submitted.

- Fall Admission Applications for the Fall 2025 term are open. Priority Deadline: January 5 . The review process for the Fall 2025 class will start as early as January 5th, 2025. Stay ahead of the competition, apply early! We accept applications by January 31st for international applicants, and April 1st for domestic applicants.
- Applications for the Fall 2025 term are open.
- Priority Deadline: January 5 . The review process for the Fall 2025 class will start as early as January 5th, 2025. Stay ahead of the competition, apply early!
- We accept applications by January 31st for international applicants, and April 1st for domestic applicants.
- Spring & Summer Admission No applications are considered.
- No applications are considered.

